/* 全局样式 */
body {
    font-family: 'Garamond', 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* 导航栏样式 */
nav {
    background-color: #2c2c2c;
    padding: 25px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding: 10px; /* 为每个列表项添加内边距 */
}

nav ul li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 18px;
    padding: 18px 18px; /* 为链接添加内边距 */
    border-radius: 8px; /* 添加圆角 */
}

nav ul li a:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* 增加模糊半径，使阴影边缘圆滑 */
    background-color: rgba(255, 255, 255, 0.1); /* 可选：在悬停时添加背景颜色 */
}


/* About 页面头部 */
.about-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.about-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.about-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}

/* Education 页面头部 */
.education-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.education-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.education-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* My Peki 页面头部 */
.peki-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.peki-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.peki-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* Daily Life 页面头部 */
.life-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.life-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.life-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* 自我介绍部分 */
.about-description {
    text-align: center;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px;
    background-color: #ffffff;
}

/* Education部分 */
.education-description {
    text-align: center;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px;
    background-color: #ffffff;
}

/* My Peki部分 */
.peki-description {
    text-align: center;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px;
    background-color: #ffffff;
}

/* Daily Life部分 */
.life-description {
    text-align: center;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px;
    background-color: #ffffff;
}

/* 固定页脚样式 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c2c2c; /* 深灰色背景 */
    color: #ffffff; /* 白色文本 */
    text-align: center;
    padding: 10px;
}
