/* 全局样式 */
body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* 导航栏样式 */
nav {
    background-color: #f8f8f8;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease; /* 添加过渡效果 */
}

/* 鼠标悬停时的阴影效果 */
nav a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

/* About 页面头部 */
.about-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.about-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.about-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}

/* Education 页面头部 */
.education-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.education-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.education-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* My Peki 页面头部 */
.peki-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.peki-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.peki-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* Daily Life 页面头部 */
.life-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.life-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.life-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}


/* 自我介绍部分 */
.about-description {
    text-align: center;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px;
    background-color: #ffffff;
}

/* 固定页脚样式 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c2c2c; /* 深灰色背景 */
    color: #ffffff; /* 白色文本 */
    text-align: center;
    padding: 10px;
}
