/* 全局样式 */
body {
    font-family: 'Garamond', 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}


/* 导航栏样式 */
nav {
    background-color: #2c2c2c;
    padding: 25px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding: 10px; /* 为每个列表项添加内边距 */
}

nav ul li a {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 18px;
    padding: 18px 18px; /* 为链接添加内边距 */
    border-radius: 8px; /* 添加圆角 */
}

nav ul li a:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* 增加模糊半径，使阴影边缘圆滑 */
    background-color: rgba(255, 255, 255, 0.1); /* 可选：在悬停时添加背景颜色 */
}


/* Mobile screen style (for screens smaller than 768px) */
@media (max-width: 768px) {
    nav ul {
        display: block; /* Stack the items vertically */
        text-align: center;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0; /* Add space between the items */
    }
}


/* 头部样式 (About, Education, Personal, Resource) */
.about-header, .education-header, .public-header, .personal-header, .resource-header {
    background-color: #f6f6f6; /* 浅灰色背景 */
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    padding: 35px 0;
}

.about-header h1, .education-header h1, .public-header h1, .personal-header h1, .resource-header h1 {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 36px;
    margin: 0;
}

.about-header p, .education-header p, .public-header p, .personal-header p, .resource-header p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 17px;
    margin: 28px 5px 0;
}

/* 内容部分 */
.about-description, .education-description, .public-description, .personal-description, .resource-description {
    text-align: justify;
    color: #2c2c2c; /* 深灰色文本 */
    padding: 20px 20px 100px; /* 添加空间 */
    background-color: #ffffff;
}

.about-description p, .education-description p, .public-description p, .personal-description p, .resource-description p {
    color: #2c2c2c; /* 深灰色文本 */
    font-size: 19px;
    margin: 8px 10px 0;
}

/* .life-description {text-indent: 30px; /* Thụt đầu dòng 30px */} */

.personal-description h3 {
    color: #2c2c2c; /* 深灰色文本 */
    text-align: center;
    font-size: 23px;
    margin: 20px 10px; /* Giãn dòng trái, phải */
}
/* Publications 特殊样式 */
.public-description h3 {
    color: #2c2c2c; /* 深灰色文本 */
    text-align: justify;
    font-size: 23px;
    margin: 20px 10px; /* Giãn dòng trái, phải */
}

/* 搜索条样式 */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 10px 15px;
    border: none;
    background-color: #2c2c2c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* 帖子样式 */
.posts {
    margin-bottom: 20px;
}

.post {
    display: flex;
    margin-bottom: 20px;
    width: 70%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
}

.post-image {
    width: 150px; /* 或者您希望的宽度 */
    height: auto;
    margin-right: 15px;
    border-radius: 8px; /* 添加圆角 */
}

.post-content {
    flex: 1; /* 允许内容扩展 */
}

.post-link {
    font-size: 20px;
    font-weight: bold;
    color: #2c2c2c;
    text-decoration: none;
}

.post-meta {
    margin-top: 5px;
}

.post-time {
    font-size: 12px;
    color: #666;
}

.post-excerpt {
    font-size: 14px;
}

/* 分页样式 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #2c2c2c;
}

/* YouTube Video */
.video-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    margin: 50px 20px 100px; /* 上下距离 30px，底部距离 footer 100px */
}

.embed-container {
    position: relative;
    max-width: 100%;
    width: 800px;
    height: 450px;
    margin: auto; /* 添加这行以实现水平居中 */
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* 固定页脚 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c2c2c; /* 深灰色背景 */
    color: #ffffff; /* 白色文本 */
    text-align: center;
    padding: 10px;
}
